* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'montserrat';
    color: #fff;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1140px;
    width: 100%;
}

i {
    cursor: pointer;
}

header {
    display: flex;
    flex-wrap: wrap;
}

main {
    display: flex;
    flex-wrap: wrap;
}

button {
    border: none;
    outline: none;
}